.loading{
    margin-top: 300px;
    text-align: center;
}

html,body{
    margin: 0;
    border: 0;
    padding: 0;
}

#title{
    z-index: 50;
    width: 100%;
    display: block;
    position: fixed;
    top:0;
}

#title ul{
    list-style: none;
    margin:0;
    padding: 0;
    float: right;
}

#title ul li{
    list-style: none;
    margin:0;
    padding:0;
    float: right;
}

#title ul li a{
    display: block;
    text-decoration: none;
    color: #70C1B7;
    padding-top: 5px;
    padding-bottom: 10px;
    margin:15px;
    border-bottom: 0 solid #70C1B7;
}

#title ul li a:hover{
    color: #ffffff;
    padding-bottom: 5px;
    border-bottom: 2px solid #ffffff;
    transition: color 0.3s , padding 0.3s;
}

.messageBox{
    z-index:51;
    width: 70%;
    height: 70%;
    position: fixed;
    top:15%;
    left: 15%;
    background: rgba(0,0,0,0.3);
}