.loading{
    margin-top: 300px;
    text-align: center;
}

html,body{
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.full{
    height: 100%;
}

#canvas{
    position: fixed;
}

#title label{
    z-index: 100;
    float: right;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    display: block;
    text-decoration: none;
    color: #70C1B7;
    padding-top: 5px;
    padding-bottom: 10px;
    margin:15px;
    border-bottom: 0 solid #70C1B7;
}

#title label:hover{
    color: #ffffff;
    padding-bottom: 5px;
    border-bottom: 2px solid #ffffff;
    transition: color 0.3s , padding 0.3s;
}

#title input{
    display: none;
}

#title input:checked + label{
    color: #ffffff;
}

.messageBox{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    transition: all 0.5s ;
}

.page{
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

#inputHome:checked ~ .messageBox{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

#inputMessage:checked ~ .messageBox{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

#inputAbout:checked ~ .messageBox{
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    transform: translateY(-200%);
}
